body{
    /* word-spacing: normal; */
    border-radius: 15px;
}
* {
    margin: 10;
    padding: 10;
    box-sizing: border-box;
    font-family: sans-serif;
}

.nav-bar {
    width: 100%;
}

.heading {
    display: flex;
    flex-direction: row;
}
.alphabet{
    white-space:pre;
    color: #004AAD;
}
.container{
    border: 5px solid black;
    padding-top: 50px;
    align-items: center;
}
.btn{
    width: auto;
}

.logo img{
    float: left;
    height: 65px;
}
.logo h1{
    position: relative;
    top: 18px;
    left: 10px;
    padding: 15px;
}
.search-bar{
    margin-top: 50px;
    
}
.search-heading{
    position: relative;
    background-color: #004AAD ;
    border: 1px solid black;
    border-radius: 10px;
    width: 700px;
}
.word-white{
    color: aliceblue;
    text-align: center;
}
#form{
    
}
